    <div class="row">
        <form class="login-form" (ngSubmit)="onLogin()" novalidate>
            <div class="form-group">
               <h1>Zaloguj się</h1>
               <hr>
              <label for="email">Emial</label>
              <input type="text" class="form-control" id="email" placeholder="Wprowadź email" [(ngModel)]="user.email" name="email" required>
            </div>
            <div class="form-group">
              <label for="password">Hasło</label>
              <input type="password" class="form-control" id="password" placeholder="Wprowadź hasło" [(ngModel)]="user.password" name="password" required>
            </div>
            <div class="center-div">
               <button type="submit" class="btn btn-primary">Zaloguj</button>          
               <hr>
               <button type="button" class="btn btn-primary" (click)="btnClick();">Rejestracja</button>    
            </div>
           </form>
    </div>

