<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" routerLink="" href="#"> <i class="fa fa-home" aria-hidden="true"></i>Strona głowna</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/testInfo" href="#">Test generator</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/getAllQuestions" href="#">Lista pytań</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/addQuestion" href="#">Dodaj pytanie</a>
      </li>      
      <li class="nav-item-on">
        <a class="nav-link" routerLink="/getUserQuestions" href="#">Twoje pytania</a>
      </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
          <li><a class="nav-link" href="#"  routerLink="/logout"> Wyloguj </a></li>
        </ul>
  </div>
</nav>
