<table class="table table-hover">
  <thead>
    <tr class="table-secoundary">
      <th scope="col"></th> 
      <th scope="col">Id</th> 
      <th scope="col">Pytanie</th>
      <th scope="col">Poziom</th>
      <th scope="col">Punkty</th>
      <th scope="col">Typ</th>
      <th scope="col">Czas</th>
    </tr>
  </thead>
  <tbody>
      <tr class="table-primary" *ngFor="let question of questionList">
        <th scope="row"></th>
        <td>{{question.id}}</td>
        <td>{{question.content}}</td>
        <td>klasa {{question.class_level}}</td>
        <td>{{question.points_amount}}</td>
        <td>{{question.type}}</td>
        <td>{{question.time}}min</td>
      </tr>
    </tbody>
</table> 
