<div class="row">
    <form class="login-form" (ngSubmit)="onRegister()" novalidate>
        <h1>Nowy użytkownik</h1>
        <hr>

     <div class="form-group">
       <label for="email">Email</label>
       <input type="text" class="form-control" id="email" placeholder="enter email" [(ngModel)]="user.email" name="email" required>
     </div>
     <div class="form-group">
       <label for="password">Hasło</label>
       <input type="password" class="form-control" id="password" placeholder="enter password" [(ngModel)]="user.password" name="password" required>
     </div>
     <div class="center-div">
        <button type="submit" class="btn btn-primary" style="margin: center;">Dodaj Użytkownika</button>
     </div>
    </form>
</div>
