<div class="container-fluid">
  <form class="custom-form" (ngSubmit)="OnSubmit(addQuestionForm)" #addQuestionForm="ngForm">
    <div>
        <h2>Dodaj pytanie</h2>
        <hr>
    </div>
      <div class="form-group">
      <label for="question-content">Treść</label>
      <textarea placeholder="np: Czy delfiny zaliczają się do ssaków?" rows="4" cols="50" type="text" class="form-control" id="question-content" #content="ngModel"
      [(ngModel)]="questionModel.content" name="question-content" required>
      </textarea>
    </div>
    <div class="form-group">
      <label for="classLevel">Klasa</label>
      <select class="form-control" id="question-class-level" name="classLevel" [(ngModel)]="questionModel.classLevel" #classLevel="ngModel" required >
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
      </select>
    </div>
    <div class="form-group">
      <label for="points">Ilość punktów do zdobycia</label>
      <select class="form-control" id="question-points-amount" name="question-points-amount" [(ngModel)]="questionModel.pointsAmount" #pointsAmount="ngModel">
        <option value="1">1 ptk</option>
        <option value="2">2 ptk</option>
        <option value="4">4 ptk</option>
      </select>
    </div>
    <div class="form-group">
      <label for="question-type">Typ pytania</label>
      <select  class="form-control" id="question-type" [(ngModel)]="questionModel.type" name="question-type" #type="ngModel" >
        <option value="otwarte">otwarte</option>
        <option value="zamkniete">zamkniete</option>
      </select>
    </div>
    <div class="form-group">
      <label for="question-time">Czas</label>
      <select  class="form-control" id="question-time" [(ngModel)]="questionModel.time" name="question-time" #time="ngModel" >
        <option value="1">1 min</option>
        <option value="2">2 min</option>
        <option value="4">4 min</option>
      </select>
    </div>
    <div class="form-group">
        <label for="section">Dział</label>
        <select class="form-control" id="id_sections" name="id_sections" [(ngModel)]="questionModel.id_sections">
          <option *ngFor="let section of sectionList" value="{{section.id_sections}}">{{section.section_name}}</option>
        </select>
    </div>
    <div class="center-div">
            <button [disabled]="!addQuestionForm.valid" type="submit" class="btn btn-success"> Dodaj pytanie </button>
    </div>
  </form>
