#header {
    display: block;
    font-family: Arial, Helvetica;
}

#question {
    font-family: Arial, Helvetica;
}

h1 {
    text-align: center;
}

#top {
    height: 30px;
}

#name, #info, date {
    float: left;
}

#group {
    float: right;
}

#info {
    margin-right: 250px;
}

#row {
    font-weight: bold;
    width: 97%;
    display: inline-block;
    padding-left: 10px;
    border: 1px solid black;
}

#topLeft {
    display: block;
    float: left;
}

#questionLabel {
    font-style: italic;
}

.pagebreak { page-break-before: always; }

