<style>
  img {
      position: absolute;
      top: 0; bottom:0; left: 0; right:0;
      margin: auto;
  }
  </style>
  <body>
      <img src="http://lh5.ggpht.com/_9F9_RUESS2E/SpV5Yi8Vv5I/AAAAAAAAA4E/W9-J8eMLokM/s800/50-Cool-and-Creative-404-Error-Pages-25.jpg" alt="panda error 404" weight="100000">
  </body>