<div id="header" class="pagebreak">
    <div id="top">
        <div id="topLeft">
            <span id="date">data wygenerowania: {{ date }}</span>
        </div>
        <span id="group">grupa {{ group }}</span>
    </div>
    <h1>Test wiedzy</h1>
    <div id="row">
        <div id="info">
            <p>Przedmiot: {{ subject }}</p>
            <p>Dział: {{ section }}</p>
            <p>Maksymalna ilość punktów: {{ pointsAmount }}</p>
            <p>Szacowany czas: {{ estimatedTime }} min.</p>
        </div>
        <div id="studentSection">
            <p>Imię i nazwisko: </p>
            <p>Klasa: </p>
            <p>Ilość punktów: </p>
            <p>Ocena: </p>
        </div>
    </div>
</div>
