/* You can add global styles to this file, and also import other style files */
form.custom-form{
    background-color: hsl(197, 78%, 61%);
    border-radius: 30px;
    padding:  15px;
    width: 400px;
    border : 5px;
    margin: auto ;
    margin-top: 40px;
    margin-bottom: 40px;
}

form.login-form{
    border-radius: 30px;
    padding:  15px;
    width: 400px;
    border : 5px;
    margin: auto ;
    margin-top: 40px;
    margin-bottom: 40px;
}

button.custom-button{
    margin: auto; 
}

h2 {
    text-align: center;
    color: rgb(14, 64, 105)
}

div.validation-error{
    color: rgb(19, 92, 201);
    text-align:  center;
}

button:hover, a.btn:hover{
    cursor:  pointer;
}

.form-control-custom {
    border-radius: 2px;
    box-shadow: none;
    float: left;
}

btn.btn-success{
    color: brown ;
    margin: center;
}
.btn.btn-default{
    margin: center;
}
div.center-div{

    text-align: center;
    display: inline-block;
    display: flex;
    justify-content: center;
    margin: 30px
}

body {
    background-color: rgb(30, 158, 243);
}

.submit-button {
    background: #4494f5;
    background: -webkit-gradient(linear, left top, left bottom, from(#7fd6ff), to(#4494f5));
    background: -webkit-linear-gradient(top, #7fd6ff, #4494f5);
    background: -ms-linear-gradient(top, #7fd6ff, #4494f5);
    background: -o-linear-gradient(top, #7fd6ff, #6ba6ee);
    background-image: -ms-linear-gradient(top, #7fd6ff 0%, #4494f5 100%);
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 0px 0;
    -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 0px 0;
    box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 0px 0;
    text-shadow: #4fa4ff 0 1px 0;
    color: #0b0121;
    font-family: helvetica, serif;
    padding: 8.5px 18px;
    font-size: 14px;
    text-decoration: none;
    vertical-align: middle;
    }
 .submit-button:hover {
    border: 0px solid #447314;
    text-shadow: #599c11 0 1px 0;
    background: #6aa436;
    background: -webkit-gradient(linear, left top, left bottom, from(#8dc059), to(#6aa436));
    background: -webkit-linear-gradient(top, #8dc059, #6aa436);
    background: -moz-linear-gradient(top, #8dc059, #6aa436);
    background: -ms-linear-gradient(top, #8dc059, #6aa436);
    background: -o-linear-gradient(top, #8dc059, #6aa436);
    background-image: -ms-linear-gradient(top, #8dc059 0%, #6aa436 100%);
    color: #fff;
    }
 .submit-button:active {
    text-shadow: #31540c 0 1px 0;
    border: 0px solid #447314;
    background: #8dc059;
    background: -webkit-gradient(linear, left top, left bottom, from(#6aa436), to(#6aa436));
    background: -webkit-linear-gradient(top, #6aa436, #8dc059);
    background: -moz-linear-gradient(top, #6aa436, #8dc059);
    background: -ms-linear-gradient(top, #6aa436, #8dc059);
    background: -o-linear-gradient(top, #6aa436, #8dc059);
    background-image: -ms-linear-gradient(top, #6aa436 0%, #8dc059 100%);
    color: #fff;
    }

    img {
        border: 1px solid #ddd;
        border-radius: 4px;
        padding: 5px;

    }