<div class="container-fluid">
      <form class="custom-form" (ngSubmit)="OnSubmit()" #generateTestForm="ngForm">
        <div>
            <h2>Wygeneruj test</h2>
            <hr>
        </div>  
            <div class="form-group">
              <label for="section">Dział</label>
              <select class="form-control" id="id_sections" name="id_sections" [(ngModel)]="testModel.id_sections">
                <option *ngFor="let section of sectionList" value="{{section.id_sections}}">{{section.section_name}}</option>
              </select>
            </div>
            <div class="form-group">
              <label for="testType">Rodzaj testu</label>
              <select  class="form-control" id="testType" [(ngModel)]="testModel.testType" name="testModel.testType" #testType="ngModel" >
                <option value="otwarte">otwarte</option>
                <option value="zamkniete">zamkniete</option>
              </select>
            </div>
            <div class="form-group">
            <label for="points">Ilość punktów do zdobycia</label>
              <select class="form-control" id="points" name="points" [(ngModel)]="testModel.points" #points="ngModel">
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="20">20</option>
                <option value="29">29</option>
              </select>
            </div>
            <div class="form-group">
            <label for="classLevel">Klasa</label>
            <select class="form-control" id="classLevel" name="classLevel" [(ngModel)]="testModel.classLevel" #classLevel="ngModel" >
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
            </select>
            </div>
            <div class="form-group">
              <label for="exampleSelect1">Ilość grup</label>
              <select class="form-control" id="groupAmount" name="groupAmount" [(ngModel)]="testModel.groupAmount" #groupAmount="ngModel" >
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
              </select>
            </div>
            <div class="center-div">
                <button [disabled]="!generateTestForm.valid" type="submit" class="btn btn-success">Wygeneruj test</button>
            </div>
      </form>
    </div>